<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToBooList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <header>
        <div class="container">
            <img src="img/Logo.png" alt="">
            <span id="logo">ToBooList</span>
        </div>
    </header>

    <main id="containerMain">
       <input type="text" v-model="texTodo">
       <button @click="addTodo">Aggiungi</button>
       <hr>

        <ul>
            <li v-for="(oggetti, index) in todoList">
                {{oggetti.componente}}
            </li>
        </ul>
    </main>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="JS/data.js"></script>
</body>
</html>